main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-section {
    width: 100%;
    display: flex;
}

.cover-wrap {
    min-width: 27%;
    overflow: hidden;
}

.cover-wrap .cover-bg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px)
}

.cover-wrap .cover {
    position: absolute;
    left: calc(27% - 243.5px);
    top: 6.5rem;
    border-radius: 0.5rem;
    outline: white solid 1px;
}

.description {
    min-width: 46%;
    padding: 0 2.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

.score-wrap {
    color: rgb(165, 165, 165);
}

.score-wrap::before {
    content: "â­";
}

.score {
    color: grey;
}

.author {
    color: grey;
}

.num-char {
    display: flex;
    gap: 1rem;
}

.read-wrap {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.read-wrap button {
    background-color: rgb(154, 154, 154);
    color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    height: 2.7rem;
    font-size: 1rem;
}

.read {
    flex-grow: 18;
}

.plus {
    flex-grow: 1;
}

.collapse-control {
    display: block;
    border-top: 1px solid lightgrey;
    width: 100%;
    padding-top: 1rem;
}

.button-collapse {
    display: none;
}

.collapse-control svg {
    filter: brightness(0) saturate(100%)
}

.collapsed svg {
    transform: rotate(90deg);
}

.expanded svg {
    transform: rotate(-90deg);
}

.genres > div {
    display: flex;
    gap: 0.5rem;
}

.themes > div {
    display: flex;
    gap: 0.5rem;
}

.genre, .theme {
    color: gray;
    border: solid 1px grey;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.eval-wrap {
    margin-top: 1.5rem;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    padding: 2rem;
}

.eval-wrap h4 {
    margin: 0;
}

.stars {
    margin-top: 0.75rem;
    font-size: x-large;
    display: flex;
}

.star {
    padding: 0 0.125rem;
}

.star:hover {
    cursor: pointer;
}

.ownership {
    min-width: 27%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.ownership .owner {
    text-decoration: none;
    color: grey;
    margin-bottom: 0.5rem;
}

.ownership .book-amount {
    color: grey;
}

.section {
    margin-top: 1rem;
    width: 800px;
}

.section h2 {
    text-align: center;
}

.comment, .quote {
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-top: 1.5rem;
}

.row2 {
    border-bottom: 1px solid lightgrey;
}

.row4 {
    border-top: 1px solid lightgrey;
}

.row4 p {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.box {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.row2 p {
    font-size: small;
}

.user-score {
    font-size: medium;
}

.author-block {
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.author-block img {
    border-radius: 0.25rem;
}

.author-block p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-block p span:first-child {
    font-weight: 700;
}

.author-block p span:last-child {
    color: grey;
}

.author-block button {
    outline: none;
    border: 2px solid grey;
    color: grey;
    font-weight: 600;
    background: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}