*, *::before, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/FiraSans.ttf');
}

:root {
    font-family: 'Fira Sans';
    --primary-bg-color: #F5F5F5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}