footer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

footer > div {
    margin: 0 1rem;
}

footer > div > p {
    margin-bottom: 0.5rem;
    color: grey;
}

.socials svg {
    filter: brightness(0) saturate(100%)
}

.socials div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.payment div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.payment img:nth-child(1) {
    width: 32px;
}

.payment img:nth-child(2) {
    width: 52px;
}

.payment img:nth-child(3) {
    width: 52px;
}

.payment img:nth-child(4) {
    width: 95px;
}

.contacts div {
    display: flex;
    gap: 1rem;
}

.contacts div p {
    margin: 0.15rem 0;
}

.bottom-apps img {
    width: 128px;
}

.bottom-apps div {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    footer > div > p {
        text-align: center;
    }

    .bottom-apps div {
        flex-direction: column;
        align-items: center;
    }
}